
.codeeditor .ace_editor {
	width: 100%;
	min-height: 150px;
	border: 1px solid #ced3d9;
	border-radius: .25rem;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.stacked.codeeditor .ace_editor {
	max-width:none;
}


.codeeditor-button-bar {
	padding-top:5px;
}

#mode-label {
    display: inline-block;
    position: relative;
    float: right;
    text-transform: uppercase;
    color: #777777;
    font-size:1em;
    padding:4px 0;
}

.ace-word-wrap-button input {
    vertical-align:middle;
}






/*
.ui-dialog .htmleditorfield-codeform {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:0;
	padding-bottom:62px;
}
.htmleditorfield-codeform .Actions {
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	text-align:right;
}

.htmleditorfield-codeform fieldset .Actions {
	bottom:-62px;
}

.htmleditorfield-codeform fieldset {
	height:100%;
	width:100%;
	position:relative;
}

.htmleditorfield-codeform .field.codeeditor {
	margin:0;
	padding:0;
	position:absolute;
	top:40px;
	bottom:0px;
	left:0;
	right:0;
}

.htmleditorfield-codeform .ace_editor {
	border:0;
	border-radius:0;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0;
	right:0;
}

.htmleditorfield-codeform .codeeditor-button-bar {
	position:absolute;
	bottom:-62px;
	left:0;
	margin:0;
	padding: 18px 16px;
	min-height:30px;
}


.htmleditorfield-acedialog .cms-content-header h3 {
    padding-top:0;
}
*/
